params {
    input = 'samplesheet.csv'
    databases = 'database.csv'
    outdir = './results'
    perform_shortread_qc = true
    perform_shortread_hostremoval = true
    hostremoval_reference = 'GCF_000819615.1_ViralProj14015_genomic.fna.gz'
    perform_runmerging = true
    save_runmerged_reads = true
    run_centrifuge = true
    run_kaiju = true
    run_kraken2 = true
    run_profile_standardisation = true
}
process {
  resourceLimits = [
    cpus: 16,
    memory: 15.GB,
    time: 5.h
  ]
}